<div class="navbar">
    <ul>
        <li>Home</li>
        <li>Contact</li>
        <li>Staff</li>
        <li>About</li>
        <button class="log" (click)="logout()">Log Out</button>
    </ul>
</div>

<!-- <div class="navbar1 ">
    
    <h5>32 Employees</h5> &nbsp;
    <button class="hire">+1new hire</button> &nbsp;&nbsp;
    <button class="filter"><i class="fa fa-filter fa-2x" aria-hidden="true"></i></button>&nbsp;&nbsp;
   <h1 id="three">3</h1>&nbsp;
    <label style="font-size: 20px; margin-top: 5px; margin-left: 5px"  >Selected</label>
    <i style="margin-left: 20px ;" class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
    
    <button  style="margin-left: 20px ;" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
   <div class="vl">

   </div>
   <i style="margin-left: 20px ;" class="fa fa-download fa-2x " aria-hidden="true"></i>
   <i style="margin-left: 20px ;" class="fa fa-print  fa-2x" aria-hidden="true"></i>
   <button  style="margin-left: 20px ;" class="add"> +Add Candidate</button>
</div>


<div class=" row">
    <div class="column">
      <div class="card">
        <h3>Card 1</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Card 2</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Card 3</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Card 4</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
   
    <div class="column">
        <div class="card">
          <h3>Card 1</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <h3>Card 2</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <h3>Card 3</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
  </div>










<div class="pipe">
    <h1>{{title}}</h1>
    <h1>{{title | uppercase}}</h1>
    <h1>{{title | lowercase}}</h1>
    <br>
    <h2>{{today}}</h2>
    <h2>{{today | date}}</h2>
    <h2>{{today | date:'fullDate'}}</h2>
    <br>
    <h3>{{name}}</h3>
    <h3>{{name | slice : 3 : 12 }}</h3>
    <h3>{{name | slice : 3 : 12 | uppercase}}</h3>
    <br>
    <h2>{{user |json}}</h2>
    <br>
    <h4>{{2000.3000 | number:'2.2-3'}}</h4>
    <br>
    <h3>{{20 |currency:'USD'}}</h3>
    <h3>{{50 |currency:'INR'}}</h3>
    <h3>{{70 |currency:'GBP'}}</h3>
    <br>
    <h4>Custom Pipe inr to usd</h4>
    <h2>22</h2>
    <h2>{{22 | usdInr }}</h2>
 -->





<!-- </div> -->
<br><br>
<div class="img">
    <img src="https://i.ytimg.com/vi/Ey_90l9GaAw/maxresdefault.jpg" alt="img not found">
    <div>
        
    </div>
</div>